@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import "tailwindcss";

@theme {
  --font-jersey: "Jersey 10", sans-serif;
  --color-p-bg: #252525;
  --color-s-bg: #474843;
  --color-t-bg: #2F302B;
  --color-a-amber: #E7E8C6;
  --color-a-darkamber: #999A86;
  --color-s-neutral: #3E3D3D;
  --color-a-lime: #9BAA73;
}

@layer base {
  html {
    font-family: var(--font-jersey);
    margin: 0;
    font-weight: 400;
    font-style: normal;
    color: #E7E8C6;
    background-color: #474843;
  }
}


/* Para que el usuario no pueda arrastrar las imágenes */
img, svg {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none;     /* IE 10 and IE 11 */
  user-select: none;         /* Standard syntax */
  pointer-events: none;      /* Prevents most pointer interactions */
  -webkit-user-drag: none;   /* For older WebKit browsers */
  user-drag: none;
}


/* barra scroll */
html {
  scrollbar-gutter: stable;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: var(--color-a-darkamber);
}
html::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-a-darkamber);
}
@supports (scrollbar-color: gray black) {
  html {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }
  html {
    scrollbar-color: var(--color-a-darkamber) transparent;
    /* background: var(--color-s-bg); */
  }
}


/* selección de texto */
::selection {
  background: hsl(from var(--color-a-lime) h s l / 0.4);
}
::-moz-selection {
    background: hsl(from var(--color-a-lime) h s l / 0.4);
}